---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    
    <h2>How to join</h2>
    <p>
       We don't accept any new members at the moment
    </p>

    {% include 'signupform.njk' %}

    {% include 'snippet.njk' %}

    {% include 'github.njk' %}
</div>
